.form_control {
}

.form_control.error input,
.form_control.error textarea {
  border: 1px solid red;
}

.form_control.error span {
  color: red;
}

.form_summary_error {
  padding: 5px;
  border: 1px solid red;
  color: rosybrown;
}
